
.page_404 {
    padding: 40px 0;
    background: #fff;
    font-family: 'Arvo', serif;
    color: #060b14;
    text-align: center; 
}

.page_404 img {
    width: 100%;
}

.four_zero_four_bg {
    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 50vh;
    background-position: center 100px;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.four_zero_four_bg h1 {
    font-size: 80px;
    font-weight: 400;
    margin-top: -60px; 
}

.four_zero_four_bg h3 {
    font-size: 80px;
}

.contant_box_404 p {
    font-size: 16px;
    
}

.link_404 {
    color: #fff;
    padding: 12px 24px;
    background: #ff6347; 
    margin: 20px 0;
    display: inline-block;
    text-decoration: none;
    border-radius: 20px;
    font-weight: bold;
    font-size: 16px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    transition: background 0.3s, transform 0.3s;
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(to bottom, #ff6347, #ff4500); /* Gradient effect */
}

.link_404:hover {
    background: #ff4500; /* Darker Tomato color on hover */
    transform: scale(1.05);
}

.link_404::before {
    content: '🍲';
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 20px;
}

.link_404::after {
    content: '✨';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 20px;
}


.contant_box_404 {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
}

