.info-content .name {
    color: var(--white-2);
    font-size: var(--fs-3);
    font-weight: var(--fw-500);
    letter-spacing: -0.25px;
    margin-bottom: 10px;
}

.view-cv-btn {
    padding: 3px 16px;
    font-weight: var(--fw-500);
    background-color: var(--vegas-gold);
    color: var(--eerie-black);
    width: max-content;
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
    margin-left: 15px;
    transition: transform 0.5s, box-shadow 0.5s, background-color 0.5s, border-radius 0.5s;
}

.view-cv-btn:hover {
    box-shadow: 0 4px 15px rgba(167, 167, 167, 0.898);
    background-color: var(--white-1);
    border-radius: 8px;
}

@media (max-width: 579px) {
    .view-cv-btn {
        padding: 2px 12px;
        font-size: 14px;
    }
}

@media (max-width: 1200px) {
    .view-cv-btn {
        margin-left: 0;
    }
}