#This is an example of secret environmental variables
#original environmental variable should be created with .env filename
DOMAIN = "Your Domain Name Here"
LOCAL_IP = "Your Local IP Address Here"
USER_GMAP = "Your Google Map <iframe src=""> Here"
USER_BDAY= "Your Birthday ("DD-MM-YYYY") Here"
USER_PHONE="Your Phone Number (e.g., +<Country_Code> <Number>, Example: +1 123456789) Here"
USER_EXPY = "Your Experience Start Year Here"
WEB_INDEXY= "Your Website Index Year Here"
DB_HOST = "Your Database Host Name Here"
DB_USER = "Your Database Username Here"
DB_PASS = "Your Database Password Here"
DB_NAME = "Your Database Name Here"
SMTP_HOST = "Your SMTP Sender Host Name Here"
SMTP_USER = "Your SMTP Sender Username Here"
SMTP_PASS = "Your SMTP Sender Password Here"
SMTP_SENDTO = "Your Email Inbox Address to Receive Emails"
SMTP_PORT= "Your SMTP Sender Port (use "587" for "465") Here"
PINTEREST_CONTENT_SECRET = "Your Pinterest Content Secret Here"
FILTER_EMAILS= "Your Personal Emails Here"